<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Customer Order logs</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
	<div class="container m-2 p-3 ">
		<h2 >Customer Order Logs</h2>
		<hr>
		<p class="h5 mb-4" th:text="'Customer Id: '+ ${customer.id}"></p>
		<p class="h5 mb-4" th:text="'Customer Name: '+ ${customer.firstName}+' '+ ${customer.lastName} "></p>
		<hr>
		<div  class="row m-3 p-3 col-10">
          	<div class="col">
          		  <table class="table">
                <thead class="table-dark">
                    <tr>
                        <th class="col-7">Order Name</th>
                        <th>Order Price</th>
             			
                    </tr>
                </thead>
                <tbody>
                	<tr th:unless="${myRoom == null}">
                		<td th:text="'Room :'+${myRoom.name} "/><td th:text="${myRoom.price}  ">
                	</tr>
                    <tr th:each="tempM : ${myOrders}">
                        <td th:text="${tempM.name}"></td>
                        <td th:text="${tempM.price}"></td>
                    </tr>
                </tbody>
            </table>
          	</div>
                     	<div class="col">
          		  <table class="table">
                <thead class="table-dark">
                    <tr>
                        <th class="col-7">Order Name</th>
                        <th>Order Price</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="tempO : ${orders}">
                        <td th:text="${tempO.name}"></td>
                        <td th:text="${tempO.price}"> </td>
                        <td><a  th:href="@{/customers/order/addo(customerId=${customer.id},orderId=${tempO.id})}" class="btn btn-sm btn-info">Add</a></td>
                    </tr>
                      <tr th:each="tempR : ${rooms}">
                        <td th:text="${tempR.name}"></td>
                        <td th:text="${tempR.price}"> </td>
                        <td><a  th:href="@{/customers/order/addr(customerId=${customer.id},roomId=${tempR.id})}" class="btn btn-sm btn-info">Add</a></td>
                    </tr>
                </tbody>
            </table>
          	</div>
        </div>
			<a th:href="@{/customers/list(customerId=${customer})}">Back to Customer List</a>
	</div>
</body>
</html>